<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="WB DataDic" />
    <meta name="description" content="[PROJECTNAME] Data Dictionary." />
    <title>[PROJECTNAME] Data Dictionary</title>
    <style type="text/css">
    table{
        width: 100%;
    }
    table, td, th{
        border-style: solid;
        border-width: 1px;
    }
    table caption{
        font-size: 120%;
        font-weight: bold;
    }
    td, th{
        border-color: silver;
    }
    th{
        background-color: silver;
    }
    </style>
</head>


<body>

<h1>[PROJECTNAME]</h1>

<h2>Data Dictionary</h2>

<p>
[VERSION]<br />
[EDITION]
</p>

<h3>Revision History</h3>

<table id="[TABLENAME]">
    <caption>[TABLENAME]</caption>
    
    <tr><td colspan="5">[TABLEDESCRIPTION]</td></tr>
    <tr>
        <th>Attribute</th>
        <th>Data Type</th>
        <th>Required</th>
        <th>Constraint</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>id</td>
        <td>INT</td>
        <td>Sí/No</td>
        <td>XX</td>
        <td>Unique identificator.</td>
    </tr>
</table>

</body>
</html>
